.glass-nav {
    background: rgba(23, 11, 6, 0.6);
    backdrop-filter: blur(20px);
}
.kin-grad {
    background: linear-gradient(135deg, #ffb693 0%, #ff6b00 100%);
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.icon-fill {
    font-variation-settings: 'FILL' 1;
}
